.cabecalhoPrincipal .container {
  display: flex; /* Diz qual a orientação a ser utilizado */
  align-items: center; /* Qual alinhamento deve ser utilizado */
  justify-content: space-between; /* COloca um espaço entre os elementos */
}
.cabecalhoPrincipal-nav {
  display: flex;
}

.rodapePrincipal-patrocinadores .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rodapePrincipal-patrocinadores-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin-right: 5%;
}

.conteudoPrincipal-cursos {
  display: flex;
  flex-wrap: wrap;
}
.conteudoPrincipal-cursos-link {
  width: 23%;
}
.conteudoPrincipal-cursos-link:nth-child(4n) {
  margin-right: 0;
}
.conteudoPrincipal-cursos-link:nth-child(4n + 1) {
  margin-left: 0;
}
.videoSobre .container {
  display: flex;
}
.videoSobre-sobre {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
.videoSobre-video {
  flex-grow: 1;
  flex-shrink: 2;
}
.videoSobre-sobre-list {
  flex-grow: 1;
}
.rodapePrincipal-contatoForm {
  width: 25%;
}
.rodapePrincipal-contatoForm-fieldset {
  display: flex;
}
.rodapePrincipal-navMap-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 250px;
}

/* Mobile */
@media (max-width: 768px) {
  .cabecalhoPrincipal-nav {
    flex-direction: column; /* Muda a direção do flex */
  }
  .cabecalhoPrincipal .container {
    flex-direction: column;
    align-items: initial;
    text-align: center;
  }
  .cabecalhoPrincipal-nav-link-app {
    order: -1;
  }
  .conteudoPrincipal-cursos {
    flex-direction: column;
  }

  .conteudoPrincipal-cursos-link {
    width: 100%;
  }
  .conteudoPrincipal-cursos-link:nth-child(4n + 1) {
    margin-left: 1%;
  }
  .videoSobre .container {
    flex-direction: column;
  }
  .videoSobre-video {
    margin: 0 auto;
  }
  .rodapePrincipal-navMap-list {
    height: auto;
  }
  .rodapePrincipal-patrocinadores .container {
    flex-direction: column;
    align-items: center;
  }
  .rodapePrincipal-contatoForm {
    width: 100%;
  }
  .rodapePrincipal-patrocinadores-list {
    margin: 0;
    width: 100%;
  }
  .rodapePrincipal-contatoForm-fieldset {
    justify-content: center;
  }
}
